# Bibliothèques nécessaires pour faire tourner le projet : 


# Bibliothèque pour l'affichage en console
rich>=13.4.0

# Optionnel : si vous utilisez l'interface graphique pygame
# pygame>=2.1.3

# Optionnel (développement) : pour lancer les tests unitaires
# pytest>=7.2.0